body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.row .col-7 {

  border: 1px solid black;
  text-align: center;
  position: relative;
  margin-top: 50px;
  width: 50%;

}

.row .col-5 {

  border: 1px solid black;
  text-align: center;
  position: relative;
  margin-top: 50px;
  margin-left: 10%;
  width: 40%;
  height: 350px;

}